
@import "../../../colors.css";

.inventory {
  columns: 25em;
  column-gap: 1em;
  flex: 1;

  padding: 1em;

  color: white;
  box-sizing: border-box;
}

.group {
  background-color: $green-standard;
  margin: 1em 0;

  page-break-inside: avoid; /* Firefox is dumb */
  break-inside: avoid;

  &:first-child {
    margin: 0;
  }

  h3 {
    padding: 0.2em;
    margin: 0;
    font-weight: bolder;
    padding-top: 0.7em;
  }
}

.items {
  list-style: none;

  display: flex;
  flex-flow: row wrap;

  flex: 1;
  font-size: 1.5em;

  page-break-inside: avoid; /* Firefox is dumb */
  break-inside: avoid;

  padding: 0;
  margin: 0;

  :global .used {
    background-color: $orange-lighter;
    &:hover {
      background-color: $orange-lightest;
    }
  }

  li {
    flex: 0 0 50%;
    max-width: 50%;

    display: flex;
    flex-direction: column;
    text-align: start;
    padding: .2em;
    background-color: $green-lighter;
    background-clip: content-box;

    box-sizing: border-box;

    page-break-inside: avoid; /* Firefox is dumb */
    break-inside: avoid;

    position: relative;

    .used {
      position: absolute;
      background-color: $orange-standard;
      font-size: 0.7em;
        border-radius: 50%;
        top: 0;
        left: -0.1em;
        padding: 2px;
        line-height: 1.2em;
        text-align: center;
        vertical-align: text-bottom;

    }

    &.icon, &:only-child {
      max-width: none;
      flex: 1 0 100%;
      line-height: 2em;
      font-size: 1.5em;


      flex-direction: row;
        /*column-span: all;*/

        .price {
        flex: 0 0 100px;
      }
    }

    &:hover {
      background-color: $green-lightest;
    }
    &:last-child {
      /*border: none;*/
    }


    p {
      /*font-weight: bold;*/
      /*font-size: 1.5em;*/
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0 0.5em;
    }
    * {
      flex: 1;
      padding: 0;
      margin: 0;
    }

    .name {
      max-width: 340px
    }
    .price {
      text-align: right;
      &:before {
        content: "€";
      }
    }

    icon {
      flex: 0 0 1em;
      font-size: 2em;

      &:before {
        margin: 0;
        font-size: 1.5em;
        color: white;
      }
    }
  }
}
