# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build

# misc
.DS_Store
.env
npm-debug.log
kassa.sublime-project
kassa.sublime-workspace
dist/
src/members.yml
