

.button {
    display: inline-flex;
    padding: 0.5em;
    margin: .2em;
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 2em;
    align-items: center;

    i, icon, label {
      cursor: pointer;
      padding: 0;
      margin: 0 0.1em;
    }
    i, icon {
      font-size: 1.6em;
      line-height: 0.6em;
    }
}