@import '../../colors.css';

.home {
	display: flex;
	flex-direction: column;
	flex: 1;
	font-size: 1.2em;

	color: white;

	.menu {
		width: 100vw;
		background-color: $green-darkest;
		// font-size: 2em;
	}

	.main {
		background-color: $green-darker;
		display: flex;
		flex: 1;
	}

	.persons {
		flex: 1;
		display: flex;
		flex-flow: column;
		// min-width: 5em;
		// overflow: auto;
		// max-width: 80vw;

		.button {
			background-color: $orange-standard;
		}
	}
	.recent {
		font-size: 2em;
		background-color: $green-darkest;
		display: flex;
		flex-direction: column;
		flex: 1;
		list-style: none;
		padding: 0.2em;
		margin: 0;
		overflow: hidden;

		li {
			display: flex;
			background-color: $green-darker;
			align-items: center;
			margin-bottom: 0.2em;

			a {
		    display: flex;
				color: white;
				text-decoration: none;
				background-color: $green-standard;
		    align-items: center;

				&:hover {
					background-color: $green-lighter;
				}
			}

			p, i, icon {
		        margin: .3em;
		        padding: 0;
		        line-height: 1em;
			}
			i, icon {
			    margin-top: 0.5em;
			}
			.user {
				flex: 1;
			}
			.total {
				&:last-child {
			    margin-right: 1.3em;
				}
			}
		}
	}
}
