$green-standard: #003421;
$green-lighter: #074D34;
$green-lightest: #1C6A4F;
$green-darker: #001E13;
$green-darkest: #000C08;

$orange-standard: #4D3600;
$orange-lighter: #73540A;
$orange-lightest: #9E7C2A;
$orange-darker: #2C1F00;
$orange-darkest: #120D00;

$red-standard: #3E0023;
$red-lighter: #5C0838;
$red-lightest: #7F2156;
$red-darker: #240014;
$red-darkest: #0E0008;
