@import "../../colors.css";

html, body, #root {
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1;
}

.transaction {
  text-align: center;
  display: flex;
  flex-direction: row; 
  height: 100%;
  flex: 1;
  background-color: $green-darker;
}

.side {
  background-color: $green-darkest;
  padding: 20px;
  color: white;
  height: 100%;
  flex: 0.1 0.2 200px;
}

.inventory {
  flex: 1;
  overflow: overlay;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
