@import "../../colors.css";

html, body, #root {
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1;
}

.transaction {
  text-align: center;
  display: flex;
  flex-direction: row; 
  flex: 1;
  background-color: $green-darker;
}

.side {
  background-color: $green-darkest;
  padding: 20px;
  color: white;
  flex: 0.1 0.2 200px;
  overflow: auto;
  display: flex;
  flex-direction: column;

  .userinfo {
    display: flex;
    flex: 0 0 40px;
    
    h2, icon {
      font-size: 30px;
      line-height: 30px;
      margin: 0;
    }
  }

  .receipt {
    flex: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 2em;

    overflow: auto;

    li {
      display: flex;

      span {
        padding: 0.1em;
      }

      .amount {}
      .name {
        flex: 1;
      }
      .total {}
    }
  }

  .payment {
    .viltje {

    }
    .cash {
      
    }
  }

}

.inventory {
  flex: 1;
  overflow: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
